{% extends 'donationapp/base.html' %}
{% load socialaccount %}


{% block title %}
<title>View Causes</title>
{% endblock  %}

{% block content %}

<!{% if latest_cause_list %}
    <ul>
    </br>

    {% for cause in latest_cause_list %}
    </ul>
        <div class="container">
            <div class="jumbotron">
                <div class="media">
                    <div class="media-body">
                        <div class="p-0" >
                            <h3>{{ cause.name }}</h3>
                            <h5>{{cause.description}}</h5>
                            <b> Total Money: </b> {{cause.total_money}} </br>
                            <b> Goal: </b> {{cause.goal}}
                        </div>
                        <!--Progress bar-->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="min-width: 20px;"></div>
                        </div>
                    
                        <!-- jQuery Script to dynamically change progress bar-->
                        <script>
                            var i = 0;
                            function makeProgress(){
                                if(i < 100){
                                    i = i + 1;
                                    $(".progress-bar").css("width", i + "%").text(i + " %");
                                }
                                // Wait for sometime before running this script again
                                setTimeout("makeProgress()", 100);
                            }
                            makeProgress();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
{% else %}
</br></br></br></br>
    <div class="vertical-center">
        <p style="text-align:center;">No Causes are available at this time.</p>
    </div>
{% endif %}
{% endblock %}