<!-- /***************************************************************************************
*  REFERENCES
*  Title: HTML DOM innerHTML Property
*  Author: W3 Schools
*  Date: 10/26/20
*  Code version: v1.0.0
*  URL: https://www.w3schools.com/jsref/prop_html_innerhtml.asp
*  Software License: Fair Use
*
*  Title: JqueryUI - Progressbar
*  Author: tutorialspoint
*  Date: 10/25/20
*  Code version: v1.0.0
*  URL: https://www.tutorialspoint.com/jqueryui/jqueryui_progressbar.htm
*  Software License: Fair Use
*
*  Title:How to decrease the size of a jumbotron which is used at footer
*  Author:Xenio Gracias from stack overflow
*  Date: 10/11/20
*  Code version: Version 1
*  URL:https://stackoverflow.com/questions/55566663/how-to-decrease-the-size-of-the-jumbotron-which-is-used-at-the-footer
*  Software License: Creative Commons Attribution-ShareAlike
*
*  Title: Spacing
*  Author: Bootstrap
*  Date:  10/11/20
*  Code version: Bootstrap version 4
*  URL:https://getbootstrap.com/docs/4.0/utilities/spacing/
*  Software License: MIT license
*
*  Title: Jumbotron
*  Author: Bootstrap
*  Date: 10/11/2020
*  Code version: Bootstrap 4
*  URL:https://getbootstrap.com/docs/4.0/components/jumbotron/
*  Software License:  MIT license
*
***************************************************************************************/ -->
{% extends 'donationapp/base.html' %}
{% load socialaccount %}


{% block title %}
<title>View Causes</title>
{% endblock  %}

{% block content %}

{% if latest_cause_list %}
    <ul>
    </br>

    {% for cause in latest_cause_list %}
    </ul>
        <div class="container animate__animated animate__fadeInDown">
            <div class="jumbotron">
                <div class="media">
                    <div class="media-body">
                        <div class="p-0" >
                            <h3>{{ cause.name }}</h3>
                            <h5>{{cause.description}}</h5>
                            <b> Amount Raised: </b> {{cause.total_money}} </br>
                            <b> Goal: </b> {{cause.goal}}
                        </div>
                        <!--Progress bar-->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" id = "{{cause.name}}"></div>
                            <!--change progress bar-->
                            <script>
                                var x = document.getElementById("{{cause.name}}");
                                var val = ({{cause.total_money}} / {{cause.goal}} * 100).toFixed(1);
                                x.style.width = val + "%";
                                x.innerHTML += val + "%";
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
{% else %}
</br></br></br></br>
    <div class="vertical-center">
        <p style="text-align:center;">No Causes are available at this time.</p>
    </div>
{% endif %}
{% endblock %}