<!-- /***************************************************************************************
*  REFERENCES
*  Title: Django Paypal Documentation
*  Author: Django-Paypal
*  Date: 11/23/2020
*  Code version: v1.0.0
*  URL: https://django-paypal.readthedocs.io/en/stable/
*  Software License: MIT License

*  Title: How To - Redirect to Another Webpage
*  Author: W3schools
*  Date: 11/23/2020
*  Code version: v1.0.0
*  URL: https://www.w3schools.com/howto/howto_js_redirect_webpage.asp
*  Software License: Fair Use

***************************************************************************************/ -->

{% extends 'donationapp/base.html' %}
{% load socialaccount %}

{% block title %}
<title>Checkout</title>
{% endblock  %}

{% block content %}
    <br>
    <div class="container">
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container" style="text-align:center;"></div>

        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=Adk904yNszIldOMYsj8L1XJSrwB8K5ln7n4GCQ3ZcTncmIRwC1MY26iRr2yHxrYi1kdf0Pwfy2pOrusi&currency=USD&disable-funding=credit"></script>

        <script>
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({
                style: {
                    color:  'blue',
                    shape:  'pill',
                    label:  'pay',
                    height: 50,
                    // layout: 'horizontal'
                },

                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{amount}}'
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function(data, actions) {
                    window.location.href = "/donationapp/checkout_confirmation";
                    return actions.order.capture().then(function(details) {
                        // Show a success message to the buyer
                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                }


            }).render('#paypal-button-container');
        </script>
    </div>
{% endblock %}