{% extends 'donationapp/base.html' %}
{% load socialaccount %}
{% block title %}

<title>Donation App</title>
{% endblock  %}
{% block content %}
    <!--Containers revealing user information: name, amount donated, cause donated to-->
    <!--Once the user logs in-->
    {% if user.is_authenticated %}
      <!--Welcome section-->
      <div class="container-fluid bg-1 text-center">
        <h1>Welcome, {{ user.username }} !</h1>
        <a href="{% provider_login_url 'google' %}?next={{ request.path }}">Login to Different Account</a>
      </div>

      <!--Summary of donation and cause-->
      <div class="container-fluid bg-2 text-center">
        <h3>So far, you have donated ___ to ___ .</h3>
      </div>

      <!--Input form to enter donation amount-->
      <div class="container-fluid bg-3 text-center">
        <h3>Plant your seeds of change here.</h3>
        <div id="donation_input_container">
          <div class="container-fluid-sub bg-4 text-center">

            <!--Container for input options-->
            <div id="donation_input_sub_box">
              <!--Input Form-->
              <form action = "" method = "post"> 
                {% csrf_token %} 
                {{form.as_p }} 
                <input type="submit" value="OK">
              </form> 
            </div>
          </div>
        </div>
      </div>
      
    <!--If user has not logged into account-->
    {% else %}
      <div class="container-fluid-main bg-1 text-center">
        <h1>Welcome to Pocket Pal.</h1>
        <h4>
          <a href="{% provider_login_url 'google' %}">Login to get started.</a>
        </h4>
      </div>
    {% endif %}
{% endblock %}
