{% extends 'donationapp/base.html' %}
{% load socialaccount %}
{% block title %}

<title>Donation App</title>
{% endblock  %}
{% block content %}
    <!--Containers revealing user information: name, amount donated, cause donated to-->
    <!--Once the user logs in-->
    {% if user.is_authenticated %}
      <div class="container-fluid bg-1 text-center">
        <!--Once the user logs in-->
        <h1>Welcome, {{ user.username }} !</h1>
        <a href="https://website-1-36.herokuapp.com/accounts/google/login/">Login to Different Account</a>
      </div>
      <div class="container-fluid bg-2 text-center">
        <h3>So far, you have donated ___.</h3>
      </div>
      <div class="container-fluid bg-3 text-center">
        <h3>You currently donating to ____.</h3>
      </div>
    {% else %}
      <div class="container-fluid-main bg-1 text-center">
        <h1>Welcome to Pocket Pal.</h1>
        <h4>
          <a href="{% provider_login_url 'google' %}">Login to get started.</a>
        </h4>
      </div>
    {% endif %}
{% endblock %}
